<div class="title">
	<img
    src="https://pngimg.com/uploads/cobra/cobra_PNG21.png"
    alt="COBRA"
    width="50"
    height="50"
  />
	<h1>KING COBRA Calculator</h1>
</div>
<form id="cal-form">
	<! -- SOMME -->
		<p>Somme</p>
		<input
  type="text"
  [(ngModel)]="somPrem"
  name="sumFirstValidation"
  #sumFirstValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>

+
		<input
  type="text"
  [(ngModel)]="sommeSeconde"
  name="sumSecondValidation"
  #sumSecondValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
		<button (click)="somme()">=</button><b>{{sumResult | number: '1.0-2'}}</b>
		<! -- SOMME -->

			<! -- SOUSTR -->
				<p>Soustraction</p>
				<input
  type="text"
  [(ngModel)]="soustractionPremier"
  name="subFirstValidation"
  #subFirstValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
-
				<input
  type="text"
  [(ngModel)]="subSecond"
  name="subSecondValidation"
  #subSecondValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
				<button
  [disabled]="!subFirstValidation.valid || !subSecondValidation.valid"
  (click)="soustraction()"
>
  =</button><b>{{subResult | number: '1.0-2'}}</b>
				<! -- SOUSTR -->

					<! -- MULTIPLICATION -->
						<p>Multiplication</p>
						<input
  type="text"
  [(ngModel)]="byFirst"
  name="byFirstValidation"
  #byFirstValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
*
						<input
  type="text"
  [(ngModel)]="bySecond"
  name="bySecondValidation"
  #bySecondValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
						<button
  [disabled]="!byFirstValidation.valid || !bySecondValidation.valid"
  (click)="multiplication()"
>
  =</button><b>{{byResult | number: '1.0-2'}}</b>
						<! -- MULTIPLICATION -->

							<! -- QUOTIENT -->
								<p>Quotient</p>
								<input
  type="text"
  [(ngModel)]="divFirst"
  name="divFirstValidation"
  #divFirstValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>
/
								<input
  type="text"
  [(ngModel)]="divSecond"
  name="divSecondValidation"
  #divSecondValidation="ngModel"
  pattern="[-+]?[0-9]*[.,]?[0-9]+"
  minlength="1"
/>

								<button (click)="division()">=</button><b>{{divResult | number: '1.0-2'}}</b>
								<br />

</form>
								<button (click)="clearAllTexts()">
  <! -- QUOTIENT -->

  CLEAR
</button>

								<button (click)="save()">

  SAUVEGARDER
</button>

								<h2>Historique</h2>
                

                